<h1 align="center">Become a Runaway</h1>

<center>
  <% if @user.errors.any? %>
  <div class="container" >
    <div class="col-xs-8 col-xs-offset-2">
      <div class="panel panel-danger">
        <div class="panel-heading">
          <h2 class="col-sm-5 alert alert-danger" role="alert">
            <%= pluralize(@user.errors.count, "error") %>
                prohibited this user from being saved:
          </h2>
            <div class="col-sm-5 alert alert-danger" role="alert">
              <ul>
                <% @user.errors.full_messages.each do |msg| %>
                <li align="left"><%= msg %></li>
                <% end %>
              </ul>
            </div>
        </div>
      </div>
    </div>
  </div>
  <% end %>



<%= form_for(@user, :html => {class: "form-horizontal", role: "form"}) do |f| %>

<div class="form-group">
  <div class="col-sm-4">
    <%= f.text_field :first_name, class: "form-control", placeholder: "First Name", autofocus: true %>
  </div>
</div>

<div class="form-group">
  <div class="col-sm-4">
    <%= f.text_field :last_name, class: "form-control", placeholder: "Last Name", autofocus: true %>
  </div>
</div>

<div class="form-group">
  <div class="col-sm-4">
    <%= f.email_field :email, class: "form-control", placeholder: "Email", autofocus: true %>
  </div>
</div>

<div class="form-group">
  <div class="col-sm-4">
    <%= f.password_field :password, class: "form-control", placeholder: "Password" %>
  </div>
</div>

<div class="form-group">
  <div class="col-sm-4">
    <%= f.password_field :password_confirmation, class: "form-control", placeholder: "Password Confirmation" %>
  </div>
</div>

<div class="form-group">
  <div class="col-sm-offset-2 col-sm-10">
    <%= f.submit "Create Account", class: 'btn btn-dark' %>
  </div>
</div>

<% end %>
</center>
