<div class="destination-container">
    <div class="destination-text">
      <h1 class="destination-name"> DO YOU WANT TO RUNAWAY TO </h1>
      <br>
      <h1 class="city-text"><%= @destination.name %>?<h1>
      <a class="btn btn-outline-secondary" href="#content" role="button">Hell yeah!</a>
      <a class="btn btn-outline-secondary" href="<%= destination_path("#{@destination_sample}") %>" role="button">Nah</a>
  </div>
</div>

<div id="city-container">
    <h1 id="content" class="city-name"> ~ <%= @destination.name %> ~ </h1>
    <% if @destination.img_url != nil %>
      <%= image_tag(@destination.img_url) %>
    <% end %>
    <br>
    <br>
    <br>
    <h2 class="whats-good">What's so great about <%= @destination.name %>?</h2>
    <br>

    <p class="city-content">
    <%= @destination.description %>
    </p>
    <p class="city-content"> <%= @destination.activity %></p>
    <p class="city-content"> <strong>Climate:</strong> <%= @destination.climate %> </p>
    <p class="city-content"> <strong>Estimated budget: $</strong><%= @destination.budget %></p>
    <center>
      <div id="like-button">
        <%= button_to 'â¤ï¸ Add to Likes', destination_likes_path(@destination), method: :post %>
        <% @destination.likes.count %> <% (@destination.likes.count) == 1||0 ? 'Likes' : 'Likes'%>
        <% pre_like = @destination.likes.find { |like| like.user_id == session[:user_id]} %>
        <% if pre_like %>
        <%= button_to ' ðŸ’” Remove from Likes ', destination_like_path(@destination, pre_like), method: :delete %>
        <% end %>
      </div>
    </center>
</div>
