
<div class="destination-container">
  <h1 class="display-4">Do you want to runaway to <%= @destination.name %>?</h1>
  <a class="btn btn-outline-secondary" href="#content" role="button">Hell Yeah!</a>
  <a class="btn btn-outline-secondary" href="<%= destination_path("#{@destination.id + 1}") %>" role="button">Nah</a>
</div>

<div class="city-container">
<h1 id="content" class="city-name"><%= @destination.name %></h1>
<% if @destination.img_url != nil %>
  <%= image_tag(@destination.img_url) %>
<% end %>
<h2>What's good about <%= @destination.name %></h2>
<p>
<%= @destination.description %>
</p>
</div>
